.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding: 15px;
}
.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}
.header__input > input {
  flex: 1;
  border: none;
  outline: none;
  border-right: 1px solid #000;
}
.header__left {
  display: flex;
}
.header__input {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}

.header__right {
  display: none;
}
.header__icon {
  margin-right: 5px;
}

@media only screen and (min-width: 500px) {
  .header__input {
  }

  ,
  .header__right {
    display: flex;
    align-items: center;
  }
}
