.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding: 15px;
}
.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__left {
  display: flex;
}
.header__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.header__input > input {
  flex: 0.8;
  border: none;
  outline: none;
  padding: 0 10px;
}
.header__inputButton {
  background: #f0f0f0;
  flex: 0.2;
}
.header__right {
  display: none;
}
.header__icon {
  margin-right: 5px;
}

@media only screen and (min-width: 500px) {
  .header__right {
    display: flex;
    align-items: center;
  }
}
